/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fga;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			320px;
    padding:    			25px;
    border:					4px 4px 4px 4px;
    border-radius:          15px;
    border-color:           @ac;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
